.comment-template
  = form_for comment  do |f|
    = f.hidden_field :commentable_id
    = f.hidden_field :commentable_type

    .control-group
      .controls
        = f.text_area :content, class: 'input-block-level', rows: 6
      = link_to 'Comment', '#', :class => 'btn btn-primary btn-small js_comment_submit_button'
