- content_for :sidebar do
  =render 'layouts/default_sidebar'

= form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  = f.control_group :name do |f|
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :username, class: 'input-xxlarge'
      = f.error_messages
  = f.control_group :email do |f|
    = f.label :email, class: 'control-label'
    .controls
      = f.email_field :email, class: 'input-xxlarge'
      = f.error_messages
  = f.control_group :url do |f|
    = f.label :url, class: 'control-label'
    .controls
      = f.url_field :url, class: 'input-xxlarge'
      = f.error_messages
  = f.control_group :bio do |f|
    = f.label :bio, class: 'control-label'
    .controls
      = f.text_area :bio, rows: 10, class: 'input-xxlarge'
      = f.error_messages
  = f.control_group :avatar do |f|
    = f.label :avatar, class: 'control-label'
    .controls
      = image_tag(@user.avatar_url) if @user.avatar?
      = f.file_field :avatar
      = f.hidden_field :avatar_cache
      = f.error_messages

    .form-actions
      =f.submit "Update", class: 'btn btn-primary'
