= render 'layouts/base'
.container-fluid
  .row-fluid
    .span2.visible-desktop
      = yield :sidebar
    .span10.application.application-large
      = render 'layouts/navigation'
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"}
            %i.icon-remove-sign
          = content_tag :div, msg, :id => "flash_#{name}"
      = yield
