= render 'layouts/base'
.container-fluid
  .row-fluid
    .span3.application-side.visible-desktop
      .cover-img{style:"background-image:url('#{asset_path 'campus.jpg'}')"}
      .cover-body
        .cover-body-inner
          %h1.cover-title= SiteSetting.site_name
          %p.cover-description= SiteSetting.site_description
    .application
      = render 'layouts/navigation', hide_home_icon: true
      .jumbotron.hidden-desktop
        %h1.hero-title Not the average actuary
        %p.hero-description Opinion pieces, book reviews and though provoking snippets
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"}
            %i.icon-remove-sign
          = content_tag :div, msg, :id => "flash_#{name}"
      = yield
